/* #EE0055 */

@font-face {
    font-family: main;
    src: url(./font.ttf);
}
html,
body {
    margin: 0;
    padding: 0;
}
div {
    font-family: main, monospace;
    overflow: hidden;
    overflow-wrap: break-word;
}
a {
    color: black;
    outline: 0;
}

#top {
    position: relative;
    background: #ee0055;
}
#topCanvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 320px;
    width: 100%;
}
#topLogo {
    position: relative; /* proper z-positioning */
    margin: 20px;
    width: 280px;
    height: 280px;
}
#top h1 {
    margin: 0 32px;
    font-size: 64px;
    font-weight: 100;
}
#top p {
    margin: 12px 32px 32px;
    font-size: 32px;
}
@media (min-width: 600px) {
    #top h1 {
        position: absolute;
        top: 40px;
        left: 280px;
    }
    #top p {
        position: absolute;
        top: 200px;
        left: 280px;
    }
}

#main h2 {
    margin: 32px 8px;
    text-align: center;
    font-size: 32px;
    font-weight: 100;
}
#mainTop {
    display: flex;
    flex-direction: column;
}
@media (min-width: 1000px) {
    #mainTop {
        flex-direction: row;
        margin: 64px 0;
    }
}
#mainTop p {
    flex: 1 1 auto;
    margin: 16px 8px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #ee0055;
}
#mainBuy {
    font-size: 32px;
    font-weight: 600;
}
#main a:focus {
    color: #ee0055;
}
@media (hover: hover) {
    #main a:hover {
        color: #ee0055;
    }
}
.main {
    margin: 32px auto;
    width: 90%;
    max-width: 800px;
}
#hodlers {
    margin: auto;
    max-width: 400px;
}
#hodlers div div {
    margin: 0 8px 16px;
    border: 1px solid #ee0055;
    background: #fafafa;
}
@media (min-width: 680px) {
    #hodlers {
        max-width: 800px;
    }
    #hodlers .hodler {
        float: left;
        width: 50%;
    }
    #hodlers div div {
        min-height: 180px;
    }
}
@media (min-width: 1360px) {
    #hodlers {
        max-width: 1600px;
    }
    #hodlers .hodler {
        float: left;
        width: 25%;
    }
}
#hodlers h3 {
    margin: 16px;
    text-align: center;
    font-size: 20px;
}
#hodlers p {
    margin: 8px;
}
#hodlers .address {
    font-size: 10px;
}

#bottom {
    position: relative;
    height: 128px;
    min-height: 38vh;
    background: #ee0055;
    text-align: center;
}
#bottom a {
    display: inline-block;
    margin: 32px 8px 0;
    padding: 2px;
    text-decoration: none;
}
@media (min-width: 600px) {
    #bottom a {
        margin: 32px 7vw 0;
    }
}
#bottom a:focus {
    text-decoration: underline;
}
@media (hover: hover) {
    #bottom a:hover {
        text-decoration: underline;
    }
}
